body {
	color: #ff0;
	background-color: #f00;
}
tr {
	border: 1px solid black;
}
th {
	border: 1px solid black;
}
button#save {
	width: 100%;
	background-color: #ff5050;
	color: #ff0;
}
button#addbtn {
	width: 100%;
	background-color: #ff5050;
	color: #ff0;
}
table {
	width: 100%;
	border: 1px solid black;
}
h1,h2 {
	text-align: center;
}
input {
	width: 100%;
	
}
